<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Query Form</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

	<div class="container">
		<h1>Query Input</h1>
		<form action="results" method="POST">

			<div class="form-group">
				<label for="keyword">keyword</label>
				<input id="keyword" class="form-control" type="text" name="keyword" value="wifi" required />
				<small id="pathHelp" class="form-text text-muted">For the time being the number of keywords is limited to one word</small>

				<label for="nResults">results per source</label>
				<input id="nResults" class="form-control" type="text" name="nResults" value="5" required />

				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
			
		</form>
	</div>

</body>

</html>